/*MAIN.HTML*/
/*Navbar additional setup*/
.navbar {
    background: linear-gradient(to right, #0d99fd, #1100cc);
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.inactive-navbar-link {
    color: rgb(160, 211, 218) !important;
}

.dropdown {
    margin-left: auto;  /* Pushes the profile button to the right */
}

/* General Stuff */
.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-size: 1rem;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0044cc;
    border-color: #003366;
}

/*Footer section*/
footer {
    background: linear-gradient(to right, #0d99fd, #1100cc);
}


/*HOME PAGE (home.html)*/
/* Header Section */
/* .title-section {
    background: linear-gradient(to right, #0d6efd, #0e00cc);
    color: #ffffff;
    padding: 60px 0;
} */

.title-section{
    overflow:hidden;
}

.title-section img{
    max-width: 100%;
    height: auto;
    display: block;
}

.title-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.title-section p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

/* How it works section */
.how-it-works-section{
    overflow:hidden;
}

.how-it-works-section img{
    max-width: 100%;
    height: auto;
    display: block;
}

.how-it-works-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#how-it-works-hr {
    border: 1px solid #0d6dfd6d;
}

/*Feed Section*/
hr {
    margin: auto;
    border: 1px solid #0d7dfd6a;
}

/* LOGIN PAGE (login.html) */
.login-page-bg {
    background: linear-gradient(to right, #0d99fd, #1100cc);
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto /* Full viewport height */
}

.back-to-home {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.back-to-home img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    cursor: pointer;
}

/* REGISTRATION PAGE (Register.html)*/


/* EXPLORE PAGE (explore.html) */
.showcase-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.showcase-section p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

/* CHAT PAGE (chat.html) */
.chat-box {
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.message.sent {
    background-color: #d1e7dd;
    text-align: right;
}

.message.received {
    background-color: #f8d7da;
    text-align: left;
}
/* PROFILE PAGE (profile.html) */

.profile.container {
    max-width: 600px;
    margin: auto;
}

.profile.card {
    margin-top: 20px;
}