[submodule "IGNITE"]
    path = IGNITE
    url = https://github.com/raghavjaiswal709/IEEE-Megaproject-24
[submodule "Cocoon"]
    path = Cocoon
    url = https://github.com/Honey22205/Honeyhive
[submodule "Avalanche-Breakdown"]
    path = Avalanche-Breakdown
    url = https://github.com/Arya-Chakraborty/IEEE-Megaproject-24
[submodule "SYStem-Reboot"]
    path = SYStem-Reboot        
    url = https://github.com/SKSingh0703/ScriptedSphere
[submodule "Ctrl-Alt-Elite"]
    path = Ctrl-Alt-Elite
    url = https://github.com/Cicada1107/danveer
[submodule "The-Forum"]
    path = The-Forum
    url = https://github.com/Sumit-72/IEEE-Megaproject-24
[submodule "Team-Pixelpushers"]
    path = Team-Pixelpushers
    url = https://github.com/ziyamohammad/Team-PixelPushers
[submodule "InnovaterX"]
    path = InnovaterX
    url = https://github.com/OmkarKale453/InnovaterX-proto-type.git
[submodule "MedVault"]
    path = MedVault
    url = https://github.com/mayank-sengar/MedVault.git
[submodule "TechTitans"]
    path = TechTitans
    url = https://github.com/KaluruAnirudh/CryptoHub
[submodule "Innovation-Titans"]
    path = Innovation-Titans
    url = https://github.com/vaishnal16/prep-wise
[submodule "Prometheus"]
    path = Prometheus
    url = https://github.com/Ayush-Aditya/Prometheus.git
[submodule "DIGITAL-ARCHITECTS"]
    path = DIGITAL-ARCHITECTS
    url = https://github.com/DigitalArchitects2025/Personal_Assistant-DA
[submodule "Infinite-loops"]
    path = Infinite-loops
    url = https://github.com/gaurav031/IEEE-Megaproject-24
[submodule "The-X-Factors"]
    path = The-X-Factors
    url = https://github.com/aumleo/The-X-Factors
[submodule "Status200"]
    path = Status200
    url = https://github.com/Jatin-gorana/FinGyaan_Status200
[submodule "Md-Saquib-Jawed"]
    path = Md-Saquib-Jawed
    url = https://github.com/saquibjawedbit/IEEE-Megaproject-24
[submodule "SSD"]
    path = SSD
    url = https://github.com/CGbhakt420/ieee-tshirt-design
[submodule "Sankalp-Wizards"]
    path = Sankalp-Wizards
    url = https://github.com/abhishbondre/Sankalp-Wizards
[submodule "Glitch"]
    path = Glitch
    url = https://github.com/DarkStar1709/IEEE-Megaproject-24
[submodule "Pixel-Pioneers"]
    path = Pixel-Pioneers
    url = https://github.com/unicorn004/LearnHub
[submodule "AB"]
    path = AB
    url = https://github.com/Amisha-Krishna-29/IEEE-Megaproject-24
[submodule "Anoushka-Ishi-Gupta"]
    path = Anoushka-Ishi-Gupta
    url = https://github.com/AnoushkaIshi/IEEE-Megaproject-24
[submodule "Techformers"]
    path = Techformers
    url = https://github.com/dxxpx/IEEE-Mega-Project.git
[submodule "Digital-Dynamics"]
    path = Digital-Dynamics
    url = https://github.com/SAUNAK359/HDL
[submodule "Matrix"]
    path = Matrix
    url = https://github.com/hk-git-16/Soulmate
[submodule "NineEleven"]
    path = NineEleven
    url = https://github.com/anurag-mitti/att_tracker
[submodule "Team-AlgoDivas"]
    path = Team-AlgoDivas
    url = https://github.com/aariya13/Team-Algodivas
[submodule "TrustPOLL"]
    path = TrustPOLL
    url = https://github.com/RsAgBansal/blockchain
[submodule "Cyber-Life"]
    path = Cyber-Life
    url = https://github.com/parth26nath/CyberLife_Ieee
[submodule "Duckydo"]
    path = Duckydo
    url = https://github.com/Yuvraj-ai/SheetAI
[submodule "Psydon"]
    path = Psydon
    url = https://github.com/sid-darth-73/Psydon_MegaProj
[submodule "WebWarriors"]
    path = WebWarriors
    url = https://github.com/yashvikram30/Second-Brain-App
[submodule "kalki"]
    path = kalki
    url = https://github.com/babuyanama/Smart-Low-Light-Image-Enhancement-For-Emotion-Detection.git
[submodule "Synatx-Error"]
    path = Synatx-Error
    url = https://github.com/Aayush2005/Syntax-Error
[submodule "VoidSeekers"]
    path = VoidSeekers
    url = https://github.com/ujjwallsrivastavaa/VoidSeekers
[submodule "CodeZ"]
    path = CodeZ
    url = https://github.com/ayush-gupta-04/IEEE-Megaproject-24
