*
{
    padding:0px;
    margin:0px;
}
body{
    background-color: #f4f4f4;
    min-height: 100%;
    
}
h3{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    padding-bottom: 10px;
}
p{
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
ol{
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right:20px;
    margin-left: 10%;
    margin-right: 10%;
}
.productsall
{
   
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }